.container {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;

}
header {
    width :800px;
    height: 90px;
    background-color: blueviolet;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    color: rgb(255, 255, 255);
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: underline;
    
}

nav {
width :800px;
background-color: rgb(65, 226, 25);
padding-top: 8px;
padding-bottom: 8px;
font-size: 25px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    width :700px;
    height: 300px;
    background-color: rgba(192, 33, 158, 0.575);
    padding-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: italic;

}

footer {
    width :700px;
    color: white;
    text-align: center;
}
body {
    background-color: rgb(36, 5, 20);
    background-image: url(image/Food/pic1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
 
}
nav a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    
    
}
.Read{
    font-size: 30px;
    text-decoration: underline;
   font-style: oblique;
    
    
}
.tagline{
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
   
}
nav a:hover{
background-color: blueviolet;

}

.log{
    border-radius: 45px;    
}


footer a {
    padding-left:3px;
    padding-right:3px;
}
nav a ul li {
list-style: none;
display: inline-flex;

}


